.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

# Generated PDFs for top-level documents
/main.pdf
/sample.pdf
